<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
</head>
  
<body>
  <section>
    <ul id="goalies">
      <h3>NHL Goalies 2021</h3>
      <% for (let item in items) { %>
        <li><%= items[item].firstName %> <%= items[item].lastName %> - G (<%= items[item].teamAbbreviation %>)</li>
      <% } %>
    </ul>
  </section>
</body>
  
</html>